<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar(user)">
    <div class="navbar-container">
        <nav>
            <div id="links">
                <a id="home" href="/" class="navbar-link">Home</a>
                <a id="add-set" href="/sets/add" class="navbar-link">Add a Set</a>
                <a id="import-set" href="/import" class="navbar-link">Import a Set</a>
                <a id="choose-set" href="/choose" class="navbar-link">Choose a Set</a>
                <a id="statistics" th:href="@{/statistics/user/{id}(id=${user.id})}" class="navbar-link">My Statistics</a>
                <a th:href="@{/user/{id}(id=${user.id})}" class="navbar-link">Profile</a>
                <a href="/logout" class="navbar-link">Exit</a>
            </div>
        </nav>
    </div>

</div>
</html>