<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="statistics(setStats)">
    <div class="stats-item" th:with="rate=${#numbers.formatDecimal(100*setStats.srcLangProgress,1,0)},
                trate=${#numbers.formatDecimal(100*setStats.targetLangProgress,1,0)}">

        <div class="detailed src-lang">
            <div class="detailed-stats srcLangAccuracy">Language 1 progress: <span
                    th:text="${rate} + '%'"></span></div>
            <div class="detailed info-src" th:with="errorRate=${setStats.srcTimesPracticed == 0} ? 0 :
                    ${#numbers.formatDecimal(100-100*setStats.srcLangProgress,1,0)}">
                <div class="info-src srcLangAccuracy" th:style="'width:' + ${rate} + '%'"></div>
                <div class="info-src error-zone" th:style="'width:' + ${errorRate} + '%'"
                     title="Study problematic words" th:attr="id=${setStats.setId}, lang=0"></div>
            </div>
        </div>

        <div class="detailed targ-lang">
            <div class="detailed-stats targetLangAccuracy">Language 2 progress: <span
                    th:text=" ${trate} + '%'"></span></div>
            <div class="detailed info-trg" th:with="errorRate=${setStats.targetTimesPracticed == 0} ? 0 :
                    ${#numbers.formatDecimal(100-100*setStats.targetLangProgress,1,0)}">
                <div class="info-trg targetLangAccuracy" th:style="'width:' + ${trate} + '%'"></div>
                <div class="info-trg error-zone" th:style="'width:' + ${errorRate} + '%'"
                     title="Study problematic words" th:attr="id=${setStats.setId},lang=1"></div>
            </div>
        </div>
        <div class="detailed-stats total">Total practiced:
            <span
                    th:with="total=${setStats.srcTimesPracticed + setStats.targetTimesPracticed}"
                    th:text="${total} + ' (' + ${setStats.srcTimesPracticed} + '/' + ${setStats.targetTimesPracticed + ')'}">
                        </span>
        </div>

    </div>
</div>