 body {
     font-family: "Open Sans", cursive, "Lucida Console", sans-serif;
     font-size: larger;
     background-color: aliceblue;
     padding-top: 40px;
 }

 h1 {
     text-align: center;
 }

 button{
    border: none;
    font-family: "Open Sans", cursive, "Lucida Console", sans-serif;
    font-size: 18px;
    border-radius: 2px;
    background-color: inherit;
 }

 button:hover{
   text-decoration: underline;
 }

 input{
    padding: 10px;
    font-family: cursive;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: green;
}

a:hover{
   text-decoration: underline;
}

 #central-container {
     margin: 0 auto;
     width: max-content;
     padding: 40px;
     background-color: ghostwhite;
 }

 #main-container {
     padding: 5px;
 }

 #sets-container {
     padding: 5px;
     width: 100%;
 }

 #links{
    display: flex;
    justify-content: space-between;
 }
 #recent, #choose-set{
    text-align: center;
 }

 .set-item>td{
    text-align: center;
 }

 .delete-set-form {
     display: inline-block;
 }

 .delete-btn {
     margin-left: 10px;
     color:red;
 }

 #title {
     display: inline-block;
 }

 #words-container {
     width: 100%;
 }

 .word-col {
     width: 35%;
 }

 .translation-col {
     width: 35%;
 }

 .hidden {
     display: none;
 }

 #word-item-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
 }

 #answer{
    width: 96%;
 }

 #prompt{
    color:cornflowerblue;
    font-size: 14px;
 }

 #main>div{
    margin-top: 20px; 
 }

 #finish-block>div>div{
    margin: 10px auto;
 }

 #name-container{
    transform: translate(10%);
 }
 #name{
    width: 96%;
    padding: 5px 10px;
    margin: 5px auto;
 }
 .input{
    width: 85%;
    padding: 5px 10px;
    margin: 5px auto;
 }

 #import{
    padding: 10px;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
 }

 #typo{
    float: right;
    border: none;
    font-family: cursive;
 }

 .practice-set-btn{
    background-color: inherit;
    color: green;
   
 }

 #new-set-name{
    width: 60%;
 }

 #finish-block{
   margin: 0 auto;
   padding: 3px 20px;
 }

 .attempts:first-of-type>.res-item{
   color: crimson;
   border-radius: 2px;
 }

#success>.res-item{
   color: limegreen;
}