 body {
    font-family: "Open Sans", cursive, "Lucida Console", sans-serif;
    font-size: 20px;
    background-color: aliceblue;
    padding-top: 40px;
    color: #4d46b4;
 }

 h1 {
    text-align: center;
 }

 button {
    border: none;
    font-family: "Open Sans", cursive, "Lucida Console", sans-serif;
    font-size: 18px;
    border-radius: 2px;
    color: #4d46b4;
    background-color: inherit;
 }

 button:hover {
    background-color: azure;
 }

 input {
    padding: 10px;
    font-family: cursive;
    font-size: 16px;
    color: #4d46b4;
 }

 a,
 a:visited {
    text-decoration: none;
    background-color: aliceblue;
    padding: 5px;
    color: #4d46b4;
 }

 a:hover {
    background-color: azure;
 }

 #central-container {
    margin: 0 auto;
    width: max-content;
    padding: 40px;
    background-color: ghostwhite;
    margin-bottom: 40px;
 }

 #main-container {
    padding: 5px;
 }

 #navigation-links {
    margin-top: 15px;
 }

 #sets-container {
    padding: 5px;
    width: 100%;
 }

 .edit-practice-return-btns,
 .more-items-and-save-set-btns,
 #links {
    display: flex;
    justify-content: space-between;
 }

 #edit-set-btn {
    background-color: aliceblue;
 }

 #edit-set-btn:hover {
    background-color: beige;
 }

 #recent,
 #choose-set {
    text-align: center;
 }

 .set-item>td{
   padding-bottom: 10px;
 }

 .set-item>td:first-child {
    width: 75%;
 }

 .delete-set-form {
    display: inline-block;
 }

 .delete-set-btn {
    margin-left: 10px;
    background-color: aliceblue;
 }

 .delete-set-btn:hover {
    background-color: lavender;
 }

 #title {
    display: inline-block;
 }

 #words-container {
    width: 100%;
    margin-bottom:20px;
 }

 #practice-set-link:hover {
    background-color: #7bfd7c5e;
 }

 .word-item>td {
    text-align: center;
 }

 .word-col {
    width: 35%;
 }

 .translation-col {
    width: 35%;
 }

 .hidden {
    display: none;
 }

 #word-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 #answer {
    width: 96%;
 }

 #prompt {
    color: cornflowerblue;
    font-size: 14px;
 }

 #main>div {
    margin-top: 20px;
 }

 #finish-block>div>div {
    margin: 10px auto;
 }

 #name-container {
    margin: 10px auto;
    text-align: center;
 }

 #name {
    width: 96%;
    padding: 5px 10px;
    margin: 5px auto;
 }

 .input {
    width: 85%;
    margin: 5px auto;
    background-color: aliceblue;
    border: none;
    text-align: center;
 }

 .input:enabled {
    background-color: #7bfd7c5e;
 }

 

 #typo {
    float: right;
    border: none;
    font-family: cursive;
 }

 .practice-set-btn {
    background-color: aliceblue;
 }

 .practice-set-btn:hover {
    background-color: #7bfd7c5e;
 }

 #new-set-name {
    width: 60%;
 }

 #finish-block {
    margin: 0 auto;
    padding: 3px 20px;
 }

 .attempts:first-of-type>.res-item {
    color: crimson;
    border-radius: 2px;
 }

 #success>.res-item {
    color: limegreen;
 }

 .set-page {
    background-color: aliceblue;
 }

/* addset */

 .delete-item:hover {
    background-color: lavender;
 }

 #add-more,
 #save-changes {
    background-color: aliceblue;
 }

 #add-more:hover,
 #save-changes:hover {
    background-color: azure;
 }

 #add-set-form{
   margin-top:40px;
 }

 #add-set-btns{
   display:flex;
   justify-content: space-around;
 }

 /* statistics */
 #statistics-container {
    width: 100%;
 }

 .stats-item{
   border-top: 1px solid aliceblue;
   border-bottom: 1px solid azure;
   border-collapse: collapse;
   padding: 10px 0;
 }

 .stats-item>div {
    margin: 0 0 5px 20px;
 }

 .info-trg,
 .info-src {
    background-color: azure;
    display: flex;
 }

 .avgResults>div {
    margin-bottom: 10px;
 }

 .info-src>div:hover,
 .info-trg>div:hover {
    transform: scaleY(1.3);
 }

 .info-src.srcLangAccuracy, .words-stats.info-src.srcLangAccuracy {
    background-color: #7bfd7c;
    height: 15px;
 }

 .info-trg.targetLangAccuracy, .words-stats.info-src.targetLangAccuracy  {
    background-color: aqua;
    height: 15px;
 }

 .info-src.error-zone, .info-trg.error-zone , .words-stats.info-trg.error-zone, .words-stats.info-src.error-zone{
    background-color: red;
    height: 15px;
 }

 .detailed.src-lang>div, .detailed.targ-lang>div{
   margin:10px 0;
 }

 .detailed.set-link{
   background-color: inherit;
   padding: 0;
 }

 .detailed.set-link:hover{
   text-decoration-line: underline;
   background-color: inherit;
 }

 hr{
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
 }


 /* problematic words */
 .form-btns{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .form-btns>button{
   margin: 15px;
 }

 /* import */
 #import {
   padding: 10px;
   font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   background-color: aliceblue;
   border-radius: 3px;
}

#submit-cont{
   margin:20px 0;
}

#delimiters-cont{
   display: flex;
   justify-content: space-between;
}

/*set stats*/
#words-cont{
   text-align: center;
}

.word-stats{
   display: flex;
}

.word-stats.info-trg, .word-stats.info-src{
   width: 50%;
}


/*login form*/
.login-form{
   display: flex;
   justify-content: center;
   height: 185px;
}

.login-form-form{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.sign-up{
   margin-top: 20px;
}

.sign-up-link{
   text-decoration: none;
}


/*register-form*/
.register-form{
   display: flex;
   justify-content: center;
   height: 25vw;
}

.register-form-form{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.sign-in{
   margin-top: 20px;
}

.sign-in-link{
   text-decoration: none;
}