<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Set Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div id="central-container">
    <h1>Welcome to the best words training app!</h1>
    <h3 id="title" th:text="${title}"></h3>&nbsp;
    <input type="hidden" id="set-id" name="id" value="-1">
    <form th:method="post" enctype="application/json" th:object="${words}">
        <div id="name-container">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" th:field="*{name}"></div>
        <table id="words-container">
            <thead>
            <th>Word</th>
            <th>Translation</th>
            </thead>
            <tbody id="word-items-body">
            <tr class="word-item" th:each="word, status :*{wordList}">
                <td>
                    <input type="text" class="input word" th:name="|wordList[${status.index}].word|" required
                           th:value="${word.word}">
                </td>
                <td>
                    <input type="text" class="input translation" th:name="|wordList[${status.index}].translation|" required
                           th:value="${word.translation}">
                </td>
                <td>
                    <button class="delete-item" type="button">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button id="add-more" type="button">Add more</button>
        <button id="save-changes" type="submit" th:formmethod="post"
                th:formaction="@{/sets/save}">Save changes
        </button>

    </form>
    <br>
    <div>
        <a th:href="@{/practice/{id}(id=${id})}">Practice</a><br>
        <a href="/">Return home</a>
    </div>
</div>
</body>

</html>