<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Choose set</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
<div id="central-container">
    <h1>Welcome to the best words training app!</h1>
    <h3>Select a set to practice</h3>
    <div id="main-container">
        <h3 id="recent">Recent sets</h3>
        <table id="sets-container">
            <tr class="set-item" th:each="set : ${sets}">
                <td>
                    <a th:href="@{/sets/{id}(id=${set.id})}" th:text="${set.name}"></a>
                </td>
                <td>
                    <form class="delete-set-form">
                        <button class="delete-btn" th:formmethod="post" th:type="submit" th:attr="data-id=${set.id}"
                                th:formaction="@{/sets/delete/{set.id}(set.id=${set.id})}">Delete set
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <div>
            <a href="/">Return home</a>
        </div>
    </div>
</div>
</body>

</html>