<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import</title>
    <script defer src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
<div th:replace="~{/fragments/navbar_fragment :: navbar(${user})}"></div>
<div id="central-container" style="display:flex; flex-direction:column;align-items:center; justify-content:center;">
    <h1>Welcome to the best words training app!</h1>
    <h3>Import a set of words</h3>
    <div id="form-div">
        <form id="form" th:action="@{/import}" method="post" th:object="${importDto}" enctype="application/json"
              autocomplete="off">

            <input id="name" required="required" type="text" th:field="*{name}" autofocus="autofocus"
                   placeholder="Set title"><br>
            <div class="language-setting-cont">
                <select name="sourceLanguage" id="src-lang" class="language-setting" th:field="*{sourceLanguage}" required >
                    <option th:value="en">English</option>
                    <option th:value="ru">Русский</option>
                    <option th:value="de">Deutsch</option>
                    <option th:value="fr">Francais</option>
                    <option th:value="sp">Spanish</option>
                </select>
                <select name="targetLanguage" id="trgt-lang" class="language-setting" th:field="*{targetLanguage}" required>
                    <option th:value="en">English</option>
                    <option th:value="ru">Русский</option>
                    <option th:value="de">Deutsch</option>
                    <option th:value="fr">Francais</option>
                    <option th:value="sp">Spanish</option>
                </select>
            </div>

            <textarea id="import" required="required" cols="50" rows="15"
                      placeholder="Word-translation pairs separated by a delimiter" th:field="*{words}"></textarea>
            <br>
            <span>Select a delimiter</span>
            <div id="delimiters-cont">
                <div>
                    <input class="delimiter standard-delimiter" id="-" type="radio" checked="checked" name="delimiter"
                           th:field="*{delimiter}"
                           th:value="'-'">
                    <label for="-">-</label>
                </div>
                <div>
                    <input class="delimiter standard-delimiter" id="tab" type="radio" name="delimiter" th:field="*{delimiter}"
                           th:value="'    '">
                    <label for="tab">Tab</label>
                </div>
                <div>
                    <input class="delimiter standard-delimiter" id="slash" type="radio" name="delimiter" th:field="*{delimiter}"
                           th:value="'/'">
                    <label for="slash">/</label>
                </div>


            </div>
            <div id="custom-delimiter-cont">
                <label for="custom">Custom</label>
                <input class="delimiter" id="custom" type="text"  th:field="*{customDelimiter}" th:value="*{customDelimiter}"
                       placeholder="Your custom delimiter">
            </div>
            <div id="submit-cont">
                <button id="submit" type="submit">Import</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>