<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script defer src="/js/main.js"></script>
</head>

<body>
    <div id="central-container">
        <h1>Welcome to the best words training app!</h1>
        <div id="main-container">
            <div id="links">
                <a href="/sets/add">Add new set</a>
                <a href="/import">Import new set</a>
                <a href="/choose">My sets</a>
                <a href="/statistics">Statistics</a>
            </div>
            <h3 id="recent">Recent sets</h3>
            <table id="sets-container">
                <tbody>
                    <tr class="set-item" th:each="set : ${sets}">
                        <td>
                            <button class="set-page" th:attr="id=${set.id}"
                                th:with="words=${set.wordList}, size=${#lists.size(words)}"
                                th:text="${set.name} + '  (' + ${size} + ' words)'"></button>
                        </td>
                        <td>
                            <button class="practice-set-btn" type="button" th:attr="id=${set.id}">Practice</button>
                        </td>
                        <td>
                            <form class="delete-set-form">
                                <button class="delete-set-btn" th:formmethod="post" th:type="submit"
                                    th:attr="data-id=${set.id}"
                                    th:formaction="@{/sets/delete/{set.id}(set.id=${set.id})}">Delete set
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>