<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script defer src="/js/main.js"></script>
</head>

<body>
    <div id="central-container">
        <h1>Welcome to the best words training app!</h1>
        <div id="links">
            <a href="/api/v1/sets/add">Add new set</a>
            <a href="/api/v1/import">Import new set</a>
            <a href="/api/v1/choose">My sets</a>
            <a href="/api/v1/statistics">Statistics</a>
        </div>
        <div id="main-container">
            <h3 id="recent">Recent sets</h3>
            <div th:replace="~{/fragments/sets_fragment :: sets_container(${sets})}"></div>
        </div>
    </div>
</body>

</html>