<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Correct Mistakes</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script defer src="/js/main.js"></script>
</head>
<body>
<div th:replace="~{/fragments/navbar_fragment :: navbar(${user})}"></div>
<div id="central-container">
    <h2>Here's the list of words to pay additional attention to!</h2>
    <input type="hidden" id="set-id" th:value="${setId}">
    <input type="hidden" id="lang" th:value="${lang}">
    <form id="add-set-form" enctype="application/json" th:object="${words}">

        <table id="words-container">
            <thead>
            <th>Word</th>
            <th>Translation</th>
            </thead>
            <tbody id="word-items-body">
            <tr class="word-item" th:each="word, status :${words}">
                <td>
                    <input type="text" class="input word" th:name="|words[${status.index}].word|" required
                           th:value="${word.word}">
                </td>
                <td>
                    <input type="text" class="input translation" th:name="|words[${status.index}].translation|"
                           required th:value="${word.translation}">
                </td>
                <td>
                    <button class="delete-item" type="button">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-btns">
            <button id="add-l2-words" type="button">
                Add other language words
            </button>
            <button id="add-more-words" type="button">Add words from other sets</button>
            <button type="submit" th:formaction="@{/api/v1/practice/mistaken}" th:formmethod="post">Practice</button>
        </div>
    </form>

</div>
</body>
</html>