<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Set Statistics</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script defer src="/js/main.js"></script>
</head>

<body>
<div th:replace="~{/fragments/navbar_fragment :: navbar(${user})}"></div>
<div id="central-container">
    <div id="header">
        <h2>Practice this set until progress is 100%</h2>
        <div id="links">
            <a th:href="@{/api/v1/sets/{setId}(setId=${setStats.setId})}">Set Page</a>
        </div>
    </div>

    <div id="main-cont">

        <div class="set-stats" th:replace="~{fragments/stats_fragment::statistics(setStats=${setStats})}"></div>

        <div id="words-cont" th:each="item : ${words}"
             th:with="rate=${item.srcRate*100},
                trate=${item.trgtRate*100},
                error=${setStats.srcTimesPracticed == 0} ? 0 : ${#numbers.formatDecimal(100-item.srcRate*100, 1, 0)},
                trerror=${setStats.targetTimesPracticed == 0} ? 0 : ${#numbers.formatDecimal(100-item.trgtRate*100, 1, 0)}">
            <div class="word-item" th:text="${item.word} + ' &mdash; ' + ${item.translation}"></div>
            <div class="word-stats">
                <div class="word-stats info-src">
                    <div class="words-stats info-src srcLangAccuracy" th:style="'width:' + ${rate} + '%'"></div>
                    <div class="words-stats info-src error-zone" th:style="'width:' + ${error} + '%'"></div>
                </div>
                <div class="word-stats info-trg">
                    <div class="words-stats info-trg targetLangAccuracy" th:style="'width:' + ${trate} + '%'"></div>
                    <div class="words-stats info-trg error-zone" th:style="'width:' + ${trerror} + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>